body {
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif !important;
}

.danger {
    background-color: #ffdddd;
    border-left: 8px solid #f44336;
    padding: 5px 10px 2px 15px;
    margin-bottom: 30px;
    line-height: 1.4;
}

.info {
    background-color: #ddffdd;
    border-left: 8px solid #4CAF50;
    padding: 5px 10px 2px 15px;
    margin-bottom: 30px;
    line-height: 1.4;
}

.note {
    background-color: #ffffcc;
    border-left: 8px solid #ffeb3b;
    padding: 5px 10px 2px 15px;
    margin-bottom: 30px;
    line-height: 1.4;
}

.note p, .info p, .danger p {
  margin-bottom: 0.85em;
}
.note img, .info img, .danger img {
  margin: 0px;
}

td .danger {
  margin-bottom: 10px;
}

td .info {
  margin-bottom: 10px;
}

td .note {
  margin-bottom: 10px;
}


.midAlign {
    text-align: center;
}

.book-body .body-inner .page-wrapper .page-inner {
	max-width: 1000px;
}

.book-summary .summary .divider {
    display: none;
}

.book-summary .summary>li:last-child {
    display: none;
}

.book-body .navigation-next, .book-body .navigation-prev {
    display: none;
}

.markdown-section ul p, .markdown-section ol p, .markdown-section dl p {
    margin-bottom: 0;
}

.markdown-section ol ol {
  list-style-type: lower-alpha;
}

.markdown-section ul li, .markdown-section ol li, .markdown-section dl li {
    margin-top: 8px;
}

.book-summary ul.summary {
    margin-bottom: 30px;
}

.markdown-section code {
    padding: 1px;
    margin: 0;
    font-size: .85em;
    color: lightcoral;
    background-color: #f7f7f7;
    border-width: thin;
}


.markdown-section pre>code {
    color: #333333;
}

.markdown-section img {
    padding: 10px;
    margin: 2px 2px 2px 2px;
    -moz-box-shadow:    3px 3px 10px 3px #ccc;
    -webkit-box-shadow: 3px 3px 10px 3px #ccc;
    box-shadow:         3px 3px 10px 3px #ccc;
}

img.inlineImage {
  padding: 0px;
  box-shadow: 0px 0px 0px 0px;
  vertical-align: middle;
}

.markdown-section td img:nth-child(1) {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

a.btn.pull-right.js-toolbar-action {
    display: none;
}

.dropdown.pull-right.js-toolbar-action {
    display: none;
}

li > div.note, li > div.danger {
    margin-bottom: 0;
    padding-bottom: 0.85em;
}

blockquote {
  margin: 0;
  margin-bottom: .85em;
  padding: 0 15px;
  border-left: 4px solid #a7a7a7;
}

blockquote p.ldiag {
  padding-right:10px;
}

blockquote p.rdiag {
  text-align: right;
  max-width:500px;
  padding-left:10px;
}

.audioInterruptionRule{
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-weight: bold;
  line-height: 99%;
  margin: 0;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.backgroundPlay {
  color: #14892c;
  background-color: #ffffff;
  border-color: #b2d8b9;
}

.cancelPlayback {
  color: #d04437;
  background-color: #ffffff;
  border-color: #f8d3d1;
}

.continuePlayback {
  color: #4a6785;
  background-color: #ffffff;
  border-color: #e4e8ed;
}

.soundLibrary table {
  width: 100%;
  table-layout: fixed;
  background-color: #ffffff;
}

.soundLibrary audio {
  width: 300px;
}

.soundLibrary td, .soundLibrary th {
  overflow-wrap: break-word;
}
